<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
  background: white;
  padding: 10px 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo img {
  height: 60px;
  object-fit: contain;
}

#nav-links {
  display: flex;
  gap: 28px;
  list-style: none;
}

#nav-links a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

#nav-separator {
  margin-top: 10px;
  opacity: 0.2;
}

#zona-promotii {
  padding: 40px;
}


.layout img {
  width: 100%;
  border-radius: 10px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.promo-box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.promo-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promo-box .overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 12px;
  background: rgba(0,0,0,0.45);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo-box button {
  background: #ffce00;
  border: none;
  padding: 6px 16px;
  font-weight: bold;
}

.footer-grid {
  margin-top: 50px;
  padding: 40px;
  background: #f2f2f2;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer-grid ul li {
  margin: 6px 0;
}

.footer-grid .right {
  text-align: right;
}

#carusel {
    width: 100%;
    max-height: 400px;   /* poți ajusta */
    overflow: hidden;
}

#carusel img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; /* taie marginile pentru aspect profesional */
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
  background: white;
  padding: 10px 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo img {
  height: 60px;
  object-fit: contain;
}

#nav-links {
  display: flex;
  gap: 28px;
  list-style: none;
}

#nav-links a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

#nav-separator {
  margin-top: 10px;
  opacity: 0.2;
}

#zona-promotii {
  padding: 40px;
}


.layout img {
  width: 100%;
  border-radius: 10px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.promo-box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.promo-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promo-box .overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 12px;
  background: rgba(0,0,0,0.45);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo-box button {
  background: #ffce00;
  border: none;
  padding: 6px 16px;
  font-weight: bold;
}

.footer-grid {
  margin-top: 50px;
  padding: 40px;
  background: #f2f2f2;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer-grid ul li {
  margin: 6px 0;
}

.footer-grid .right {
  text-align: right;
}

#carusel {
    width: 100%;
    max-height: 400px;   /* poți ajusta */
    overflow: hidden;
}

#carusel img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; /* taie marginile pentru aspect profesional */
>>>>>>> e9a037d886881a7281bb3d41682afcd3c1c03afb
}