body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #071493;
}

/* NAVBAR */
.navbar {
  width: 90%;
  background: white;
  padding: 15px 30px;
  border-radius: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.nav-left a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.nav-right {
  display: flex;
  gap: 15px;
}

.btn-login {
  background: #efefef;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}

.btn-sign {
  background: #121824;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

/* HERO */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 160px 50px 80px;
}

.content {
  max-width: 50%;
}

.content h2 {
  font-size: 14px;
  letter-spacing: 2px;
  color: #ffffff;
}

.content h1 {
  font-size: 75px;
  margin: 20px 0;
  color: #ccb4ff;
}

.content p {
  font-size: 22px;
  line-height: 1.5;
  color: #fff;
}

.content button {
  background-color: #c0a3ff;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
}

.img-right {
  width: 700px;
  height: auto;
  display: block;
}

/* SOCIAL ICONS */
.image-row {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 80px;
}

.img-box {
  width: 110px;
  height: 110px;
  background: #ccb4ff;
  border-radius: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.img-box img {
  width: 80%;
  height: auto;
}

/* FOOTER */
.site-footer {
  background-color: #121824;
  color: #fce4fc;
  padding: 40px 0;
}

.site-footer .content-wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links a,
.footer-legal a {
  color: #fce4fc;
  text-decoration: none;
  opacity: 0.8;
}
