
body {
    background-color: #121212; 
    color: #e0e0e0;            
    font-family: Arial, sans-serif; 
}


a {
    color: #4CAF50;
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}


h2, h3 {
    color: #ffffff; 
    margin-top: 0;  
}


.search-input {
    background-color: #1e1e1e; 
    border: 1px solid #4CAF50; 
    color: white;              
    padding: 10px;             
    border-radius: 5px;       
}


.btn-cauta {
    background-color: #4CAF50; 
    color: black;              
    border: none;             
    padding: 10px 20px;       
    cursor: pointer;         
    border-radius: 5px;       
    font-weight: bold;
}


.btn-doneaza {
    background-color: #FFC107; 
    border: none;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}


.card {
    background-color: #1e1e1e; 
    border: 1px solid #333;    
    padding: 15px;             
    border-radius: 8px;        
}


ul {
    padding-left: 20px;
    color: #4CAF50; 
}

li {
    color: #cccccc; 
}




.search-input:focus {
    outline: none; 
    border-color: #4CAF50; 
    box-shadow: 0 0 8px #4CAF50; 
}


.card-roz:hover {
    border-color: #ff69b4; 
    box-shadow: 0 0 10px #ff69b4; 
    transition: 0.3s; 
}


.card-albastru:hover {
    border-color: #2196F3;
    box-shadow: 0 0 10px #2196F3;
    transition: 0.3s;
}


.card-verde:hover {
    border-color: #4CAF50;
    box-shadow: 0 0 10px #4CAF50;
    transition: 0.3s;
}


.card-galben:hover {
    border-color: #FFC107;
    box-shadow: 0 0 10px #FFC107;
    transition: 0.3s;
}


.card-rosu:hover {
    border-color: #f44336;
    box-shadow: 0 0 10px #f44336;
    transition: 0.3s;
}

.card-mov:hover {
    border-color: #9c27b0;
    box-shadow: 0 0 10px #9c27b0;
    transition: 0.3s;
}