* {
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #eeeeee;
    font-family: 'Open Sans';
    margin: 0px;
}

button:hover {
    cursor: pointer;
}

nav {
    padding: 5px 100px;
    background-color: #212121;
    font-size: 16px;
    height: 70px;
}

nav > *  {
    vertical-align: middle;
    padding: 0px 20px;
}

nav > * > *  {
    vertical-align: middle;
}

nav ul{
    display: inline-block;
}

nav li{
    display: inline-block;
    padding: 0px 8px;;
}

nav a {
    text-decoration: none;
    color: #9a9a9a;
}

nav a:hover {
    text-decoration: none;
    color: #6cda89;
}

nav li img {
    margin-top: 6px;
}

.nav-logo {
    float: left;
    margin-top: 4px;
    padding: 0px;
}

button
{
    padding: 3px 10px 0px 10px;
    font-size: 16px;
}

button * {
    vertical-align: middle;
    white-space: nowrap;
}

nav li button img {
    margin-bottom: 7px;
    width: 22px;
}

.no-padding {
    padding: 0px; 
} 

.no-padding-r {
    padding-right: 0px; 
} 

nav button {
    background-color: #ffd54f ;
    border-radius: 5px;
    border: none;
}

nav button:hover {
    background-color: #d9b543;
}

nav button:focus {
  background-color: #d9b543;
  border-color: #ccaa3f;
  box-shadow: 0 0 0 0.25rem rgba(219, 184, 70, 0.5);
}

.nav-menu-right {
    position: absolute;
    right: 5%;
    top: -2px;
}

/* Content css */

.content {
    padding-top: 12px;
    max-width: 80%;
    margin: auto;
}

.content a {
    text-decoration: none;
    color: #6cda89;
}

.content a:hover {
    text-decoration: underline;
    color: #56a06a;
}

.content {
    font-size: 15px;
}

.content p {
    margin-top: 5px;
    margin-bottom: 5px;
}

h3 {
    font-size: 22px;
}

h2, h3 {
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 25px;
}

h2:first-of-type {
    margin-top: 5px;
}

.no-space-before {
    margin-top: -10px !important;
}

.space-before {
    margin-top: 20px !important;
}

.space-after {
    margin-bottom: 20px !important;
}

.card {
    display: inline-block;
    min-width: 32%;
    border: 1px solid #5cabea;
    border-radius: 5px;
    box-sizing: content-box;
    font-size: 13px;
}

.card-top {
    padding: 10px;
    background-color: #5cabea;
    color: #121212;
    border-radius: 5px 5px 0px 0px;
}

.card-top img {
    float: right;
    margin-top: -2px;
}

.card-body {
    height: 180px;
    padding: 15px;
}

#suma, #email {
    float: right;
    height: 30px;
    width: 60%;
    background-color:#121212;
    color: #eeeeee;
    border-radius: 3px;
    padding-left: 8px;
    border: 1px solid #3b3b3b;
}

#suma:focus, #email:focus {
    border-color: #6cda89;
    box-shadow: 0 0 8px 0.25rem rgba(108, 218, 137, 0.25);
    outline: none;
}


#button-card {
    background-image: url(./donate.png);
    width: 252px;
    height: 34px;
    padding: 0;
    border: 0;
    border-radius: 10px;
    position: relative;
    top: 10px;
}

#button-card:hover{
    cursor: pointer;
}

.align-center {
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;
}

.card-body label {
    vertical-align: middle;
}

.form-row {
    margin-bottom: 15px;
    height: 30px;
}

.card3-row {
    margin-top: 8px;
}

.card3-row span:first-of-type {
    font-weight: bold;
    margin-right: 10px;
}

.card:nth-of-type(2) {
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    top: -32px;
}

.card:nth-last-of-type(2) input {
    margin-top: 35px;
}

/* footer css */

.footer {
    padding-top: 12px;
    max-width: 80%;
    margin: auto;
    font-size: 14px;
    text-align: center;
}

.footer p:last-of-type{
    word-spacing: 5px;
}

.footer hr {
    border: 1px solid #343434;
}

.no-spacing {
    word-spacing: normal;
}

.footer a {
    text-decoration: none;
    color: #6cda89;
}

.footer a:hover {
    text-decoration: underline;
    color: #56a06a;
}