* {
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #eeeeee;
    font-family: 'Open Sans';
    margin: 0px;
}

button:hover {
    cursor: pointer;
}

nav {
    padding: 5px 100px;
    background-color: #212121;
    font-size: 16px;
}

nav > *  {
    vertical-align: middle;
    padding: 0px 20px;
}

nav > * > *  {
    vertical-align: middle;
}

nav ul{
    display: inline-block;
}

nav li{
    display: inline-block;
    padding: 0px 8px;;
}

nav a {
    text-decoration: none;
    color: #9a9a9a;
}

nav a:hover {
    text-decoration: none;
    color: #6cda89;
}

nav li img {
    margin-top: 6px;
}

.nav-logo {
    float: left;
    margin-top: 4px;
    padding: 0px;
}

button
{
    padding: 3px 10px 0px 10px;
    font-size: 16px;
}

button > * {
    vertical-align: middle;
}

nav li button img {
    margin-bottom: 7px;
    width: 22px;
}

.no-padding {
    padding: 0px; 
} 

.no-padding-r {
    padding-right: 0px; 
} 

nav button {
    background-color: #ffd54f ;
    border-radius: 5px;
    border: none;
}

.nav-menu-right {
    position: absolute;
    right: 5%;
    top: -2px;
}

/* Content css */

.content {
    padding-top: 12px;
    max-width: 57%;
    margin: auto;
}

.content a {
    text-decoration: underline;
    color: #6cda89;
}

.content a:hover {
    text-decoration: underline;
    color: #56a06a;
}

#search {
    padding: 7px;
    margin-right: 0px;
    background-color: transparent;
    border-radius: 5px 0px 0px 5px;
    color: #9a9a9a;
    border-width: 1px;
    width: 80%;
}
#search:focus {
    border-color: #6cda89;
}

#search_b {
    margin-left: 0px;
    margin-top: 2px;
    padding: 5px 10px 2px 10px;
    background-color:#6cda89;
    border-radius: 0px 5px 5px 0px;
    border: none;
}

h2 {
    font-weight: normal;
}

.article-title a {
    float: right;
    width: 30px;
}

.article-title a img {
    width: 30px;
}

.section-top-bar {
    background-color: #191919;
    border: 1px solid #343434;
    padding: 8px 15px 2px;
    border-radius: 5px 5px 0px 0px;
}

.article-body {
    border-left: 1px solid #343434;
    border-right: 1px solid #343434;
    padding: 20px;
}

.main-img {
    margin: auto;
    display: block;
    padding: 5px;
    padding-bottom: 0;
}

.align-right {
    text-align: right;
}

.gray-text {
    color: #818181;
}

.def-end{
    font-size: 12px;
}

.def-end a{
    text-decoration: none;
    font-size: 14px;
}

.pre-text {
    padding-left: 10px;
    font-weight: bold;
    font-size: 14px;
}

.section-bottom-bar p {
    padding: 0;
    margin: 0;
}

.section-bottom-bar {
    background-color: #191919;
    border: 1px solid #343434;
    padding: 8px 16px;
    border-radius: 0px 0px 5px 5px;
    font-size: 14px;
}