* {
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #eeeeee;
    font-family: 'Open Sans';
    margin: 0px;
}

button:hover {
    cursor: pointer;
}

nav {
    padding: 5px 100px;
    background-color: #212121;
    font-size: 16px;
}

nav > *  {
    vertical-align: middle;
    padding: 0px 20px;
}

nav > * > *  {
    vertical-align: middle;
}

nav ul{
    display: inline-block;
}

nav li{
    display: inline-block;
    padding: 0px 8px;;
}

nav a {
    text-decoration: none;
    color: #9a9a9a;
}

nav a:hover {
    text-decoration: none;
    color: #6cda89;
}

nav li img {
    margin-top: 6px;
}

.nav-logo {
    float: left;
    margin-top: 4px;
    padding: 0px;
}

button
{
    padding: 3px 10px 0px 10px;
    font-size: 16px;
}

button * {
    vertical-align: middle;
    white-space: nowrap;
}

nav li button img {
    margin-bottom: 7px;
    width: 22px;
}

.no-padding {
    padding: 0px; 
} 

.no-padding-r {
    padding-right: 0px; 
} 

nav button {
    background-color: #ffd54f ;
    border-radius: 5px;
    border: none;
}

.nav-menu-right {
    position: absolute;
    right: 5%;
    top: -2px;
}

/* Content css */

.content {
    padding-top: 12px;
    max-width: 57%;
    margin: auto;
}

.content a {
    text-decoration: underline;
    color: #6cda89;
}

.content a:hover {
    text-decoration: underline;
    color: #56a06a;
}

#search {
    padding: 8px;
    background-color: transparent;
    border-radius: 5px 0px 0px 5px;
    color: #9a9a9a;
    border-width: 1px;
    width: 83%;
}

#search:focus {
    border-color: #6cda89;
}

.search-bar button {
    margin-left: -4px;
    margin-top: 3px;
    padding: 6px 10px 3px 10px;
    background-color:#6cda89;
    border-radius: 0px 5px 5px 0px;
    border: none;
    width: 10%;
    white-space: nowrap;
}

.search-bar span a {
    width: 6%;
    display: inline-block;
    text-align: right;
    font-size: 14px;
}

h2 {
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 25px;
}

.article-title a {
    float: right;
    width: 30px;
}

.article-title a img {
    width: 30px;
}

.section-top-bar {
    background-color: #191919;
    border: 1px solid #343434;
    padding: 8px 15px 2px;
    border-radius: 5px 5px 0px 0px;
}

.article-body {
    border-left: 1px solid #343434;
    border-right: 1px solid #343434;
    padding: 20px;
}

.main-img {
    margin: auto;
    display: block;
    padding: 5px;
    padding-bottom: 0;
}

.align-right {
    text-align: right;
}

.gray-text {
    color: #818181;
}

.def-end{
    font-size: 12px;
}

.def-end a{
    text-decoration: none;
    font-size: 14px;
}

.pre-text {
    padding-left: 10px;
    font-weight: bold;
    font-size: 14px;
}

.section-bottom-bar p {
    padding: 0;
    margin: 0;
}

.section-bottom-bar {
    background-color: #191919;
    border: 1px solid #343434;
    padding: 8px 16px;
    border-radius: 0px 0px 5px 5px;
    font-size: 14px;
}

.back-button-2 {
    float: left;
}
.section-top-bar p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 6px;
    text-align: center;
}

#table-container {
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
}

td, th {
    border: 1px solid #343434;
    padding: 8px;
}

td {
    height: 110px;
}

td * {
    margin: 2px;
}

.align-center{
    text-align: center;
    text-decoration: none;
}

td img {
    display: block;
    margin: auto;
}

.element-orizontal {
    border: 1px solid #343434;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    min-height: 120px;
}

#table-container a {
    text-decoration: none;
}

#table-container a:hover {
    text-decoration: underline;
    color: #56a06a;
}

.element-orizontal a {
    text-decoration: none;
}

.element-orizontal img {
    float: right;
}

.element-orizontal p:first-of-type {
    margin-top: 0;
}

/* footer css */

.footer {
    padding-top: 12px;
    max-width: 57%;
    margin: auto;
    font-size: 14px;
    text-align: center;
}

.footer p:last-of-type{
    word-spacing: 5px;
}

.footer hr {
    border: 1px solid #343434;
}

.no-spacing {
    word-spacing: normal;
}

.footer a {
    text-decoration: none;
    color: #6cda89;
}

.footer a:hover {
    text-decoration: underline;
    color: #56a06a;
}